<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Merch App</title>

        <!--Scripts-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="./scripts/script.js"></script>

        <!--Drag and drop images-->

        <script>
            function allowDrop(ev) {
                ev.preventDefault();
            }

            function drag(ev) {
                ev.dataTransfer.setData("text", ev.target.id);
            }

            function drop(ev) {
                console.log(ev);
                ev.preventDefault();
                var data = ev.dataTransfer.getData("text");
                ev.target.appendChild(document.getElementById(data));
            }
        </script>

        <!--Style Sheets-->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="./styles/styles.css">

    </head>
    <body ng-app="merch">
        <!--DESKTOP VIEWS-->
        <div ng-controller="desktopCtrl" class="hidden-xs">
            <div class="row top-nav">
                <div class="col-sm-4" style="border-right: 1px solid #439dbb;">
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <h3><strong>Abcd efghi lmno</strong></h3>
                            <div id="custom-search-input">
                                <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                                    <input type="text" class="form-control input-sm" placeholder="User" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="row ">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9 top-img-nav">
                            <a href="#">
                                <img class="active-img nav-images" src="assets/e1d9cf5a61545018abb8a2a5a2b707f1.png">
                            </a>
                            <a href="#">
                                <img class="nav-images" src="assets/888994d93f9278273dfa9b89cc03a1ff.png">
                            </a>
                            <a href="#">
                                <img class="nav-images" src="assets/dial.png">
                            </a>
                            <a href="#">
                                <img class="nav-images" src="assets/77e25ed9662c595f66f79822d5ac28c4.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4" style="border-right: 1px solid #439dbb; padding-right: 0px">

                    <!--chat lists-->
                    <ul class="list-group" style="overflow-x: hidden;">
                        <div class="chat-list">
                            <li ng-class="{active : activeId === chat.userId}" class="list-group-item row" ng-repeat="chat in data" ng-click="showChat(chat.userId)">
                            <div ng-click="setActive(chat.userId)">
                            <div class="col-sm-3">
                                <img class="img-responsive" src="assets/{{chat.state}}">
                            </div>
                            <div class="chat-sub col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <p><i class="desktop-font">Xxxxx</i> <span style="color: #8D8D8D; font-size: 15px;">{{chat.userId}}</span></p>
                                            </div>
                                            <div class="row">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{chat.score}}" aria-valuemin="0" aria-valuemax="100" style="width: {{chat.score}}%">
                                                        <span class="sr-only"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row marg">
                                                <p><span class="date">{{chat.last_date}}</span>   <i class="desktop-font" style="font-size: 13px;">xxxxx xxxx</i></p>
                                                <p><span class="date">{{chat.amount}}</span>   <i class="desktop-font">xxxxx xxxxx   {{chat.first_date}}</i></p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" style="margin-top: 25px; text-align: center;">
                                            <img class="chat-list-img" src="assets/57cc7d669fdc6b129215655281a0f9bc.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        </div>
                    </ul>

                </div>


                <div class="col-sm-8" style="padding-left: 0px">

                    <!--Chat box-->
                    <div class="row">
                        <div ondrop="drop(event)" ondragover="allowDrop(event)" class="col-sm-10 chat-box">
                            <div class="chat-search row">
                                <div class="col-sm-4 col-sm-push-4">
                                    <div id="custom-chat-search">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-info btn-lg" type="button">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </span>
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-repeat="msg in chat">
                                <div style="color: grey;">{{msg.date}}</div>
                                <div class="progress msg-bar">{{msg.message}}</div>
                            </div>
                        </div>
                        <!--Side image bar-->
                        <div class="col-sm-2">
                            <div class="images-bar">
                                <div>
                                    <img id="a" draggable="true" ondragstart="drag(event)" class="thumb" src="assets/57cc7d669fdc6b129215655281a0f9bc.png">
                                </div>
                                <div >
                                    <img id="b" draggable="true" ondragstart="drag(event)" class="thumb" src="assets/df197143ee4af5b5df056befe9ff6424.png">
                                </div>
                                <div >
                                    <img id="c" draggable="true" ondragstart="drag(event)" class="thumb" src="assets/7b8a79a2571bef94a3dd251a3b606c2b.png">
                                </div>
                                <div >
                                    <img id="d" draggable="true" ondragstart="drag(event)" class="thumb" src="assets/88f817e02e55c23c8ae886aaec8c9e73.png">
                                </div>
                                <div >
                                    <img id="e" draggable="true" ondragstart="drag(event)" class="thumb" src="assets/9db084f88b83df8ae0b9c5fb309a3e0f.png">
                                </div>
                                <div >
                                    <img draggable="true" ondragstart="drag(event)" class="thumb" src="assets/57cc7d669fdc6b129215655281a0f9bc.png">
                                </div>
                                <div>
                                    <img draggable="true" ondragstart="drag(event)" class="thumb" src="assets/df197143ee4af5b5df056befe9ff6424.png">
                                </div>
                                <div>
                                    <img draggable="true" ondragstart="drag(event)" class="thumb" src="assets/7b8a79a2571bef94a3dd251a3b606c2b.png">
                                </div>
                                <div>
                                    <img draggable="true" ondragstart="drag(event)" class="thumb" src="assets/57cc7d669fdc6b129215655281a0f9bc.png">
                                </div>
                                <div >
                                    <img draggable="true" ondragstart="drag(event)" class="thumb" src="assets/df197143ee4af5b5df056befe9ff6424.png">
                                </div>
                                <div >
                                    <img draggable="true" ondragstart="drag(event)" class="thumb" src="assets/7b8a79a2571bef94a3dd251a3b606c2b.png">
                                </div>
                                <div >
                                    <img draggable="true" ondragstart="drag(event)" class="thumb" src="assets/88f817e02e55c23c8ae886aaec8c9e73.png">
                                </div>
                                <div >
                                    <img draggable="true" ondragstart="drag(event)" class="thumb" src="assets/9db084f88b83df8ae0b9c5fb309a3e0f.png">
                                </div>
                                <div >
                                    <img draggable="true" ondragstart="drag(event)" class="thumb" src="assets/57cc7d669fdc6b129215655281a0f9bc.png">
                                </div>
                                <div>
                                    <img draggable="true" ondragstart="drag(event)" class="thumb" src="assets/df197143ee4af5b5df056befe9ff6424.png">
                                </div>
                                <div>
                                    <img draggable="true" ondragstart="drag(event)" class="thumb" src="assets/7b8a79a2571bef94a3dd251a3b606c2b.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-bar jumbotron">
                        <div id="custom-chat-input">
                            <div class="input-group col-sm-12">
                                <input ng-model="message" type="text" class="form-control input-lg" placeholder="Click here to write something." />
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="button">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--MOBILE VIEWS-->
        <div ng-controller="desktopCtrl" class="hidden-sm hidden-md hidden-lg hidden-xl">
            <nav class="container navbar navbar-default">
                <h4 class="pull-left">Xxxx</h4>
                <div class="pull-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-3">
                                <form action="" class="search-form">
                                    <div class="form-group has-feedback">
                                        <label for="search" class="sr-only">User</label>
                                        <input type="text" class="form-control" name="search" id="search" placeholder="search">
                                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <ul class="list-group" style="overflow-x: hidden;">
                <div class="chat-list">
                    <a href="chat.html">
                    <li class="list-group-item row" ng-repeat="chat in data" ng-click="showChat(chat.userId)">
                            <div class="col-xs-3">
                                <img class="img-responsive" src="assets/{{chat.state}}">
                            </div>
                            <div class="chat-sub col-xs-9">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <div class="row">
                                            <p class="grey"><i>Xxxxx</i> <span style="color: #8D8D8D; font-size: 15px;">{{chat.userId}}</span></p>
                                        </div>
                                        <div class="row">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{chat.score}}" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                                    <span class="sr-only"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row marg">
                                            <p><span>{{chat.last_date}}</span>   <i style="font-size: 13px;">(xxxxx xxxxxxxx)</i></p>
                                            <p><span>{{chat.amount}}</span>   <i>xxxxx xxxxx   {{chat.first_date}}</i></p>
                                        </div>
                                    </div>
                                    <div class="col-xs-4" style="margin-top: 25px; text-align: center;">
                                        <img class="chat-list-img" src="assets/57cc7d669fdc6b129215655281a0f9bc.png">
                                    </div>
                                </div>
                            </div>
                    </li>
                    </a>
                </div>
            </ul>

        </div>
    </body>

</html>