.mobile-chat-box{
    height: 64vh;
    overflow-y: scroll;
    margin-right: 5px;
}

.navbar-mob{
     margin-bottom: 0;
     background : #B1D9E7;
     height: 80px !important;
     padding-left: 3%;
     padding-top: 3%;
     padding-right: 3%;
 }

.glyphicon{
    font-size: 50px;
    color: black;
}

div.scrollmenu {
    background-color: #B1D9E7;
    overflow: auto;
    white-space: nowrap;
    height: 13vh;
    padding-top: 2%;
}

.jumbotron {
    padding-right: 0% !important;
    padding-top: 20px !important;
    padding-bottom: 7px !important;
    margin-bottom: 0 !important;
}