.mobile-chat-box{
    height: 60vh;
    overflow-y: scroll;
    margin-right: 5px;
    background-color: white;
}

.navbar-mob{
     margin-bottom: 0;
     background : #B1D9E7;
     height: 60px !important;
     padding-left: 3%;
     padding-top: 3%;
     padding-right: 3%;
 }

.glyphicon{
    font-size: 30px;
    color: black;
}

div.scrollmenu {
    border-top: 1px solid black;
    background-color: #B1D9E7;
    overflow: auto;
    white-space: nowrap;
    height: 17vh;
    padding-top: 2%;
}

div.scrollmenu img {
    margin-right: 3px;
    margin-left: 3px;
}

.jumbotron {
    padding-right: 0% !important;
    padding-top: 20px !important;
    padding-bottom: 7px !important;
    margin-bottom: 0 !important;
}