body{
    font-family: "Helvetica Neue",Arial,sans-serif !important;
}

.mobile-chat-box{
    height: 70%;
    padding-top: 3%;
    overflow-y: scroll;
    margin-right: 5px;
    background-color: white;
}

.navbar-mob{
     margin-bottom: 0;
     background : #B1D9E7;
     height: 48px !important;
     padding-left: 3%;
     padding-top: 2%;
     padding-right: 3%;
 }

.glyphicon{
    font-size: 30px;
    color: black;
}

div.scrollmenu {
    border-top: 1px solid black;
    background-color: #B1D9E7;
    overflow: auto;
    white-space: nowrap;
    height: 13vh;
    margin-top: -10px;
}

div.scrollmenu img {
    margin-right: 3px;
    margin-left: 3px;
}

.jumbotron {
    padding-right: 0% !important;
    padding-top: 10px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0 !important;
}


.last-purchase-mobile{
    width: 55px;
    text-align: center;
    border-bottom-color: #57c7f5 !important;
    border: 1px solid #57c7f5;
}

li{
    height: 25px !important;
    border-bottom: 2px solid #C6C6C6 !important;
}

h6{
    font-size: 11px !important;
    margin-top: 5px;
}

#myRange{
    width: 90% !important;
    margin-top: 20px;
}

.sort-mobile{
    width: 74px;
    text-align: center;
    border-bottom-color: #25b0f0 !important;
    border: 1px solid #25b0f0;
}

hr{
    margin-left: -5%;
    margin-right: -5%;
    margin-bottom: 5px !important;
}

.input-lg{
    height: 36px;
    font-size: 15px;
}

.input-bar{
    height: 75px;
}

#demo-slider-tooltip .slider-selection {
    background: #C4E1E1;
}

#demo-slider-tooltip .slider-track-high {
    background: #2B5555;
}